
<h1>Admin Dashboard</h1>

<p>Welcome to the Admin Dashboard</p>

<div>
  <h2> Jungle Store Statistics </h2>
  <ul>
   <li> Total Products: <%= @products_count %></li>
   <li> Total Categories: <%= @categories_count %></li>
  </ul>
</div>